:root {
    --post_1_title: "Filme de ‘Demon Slayer’ segue batendo recordes e se torna a quinta maior bilheteria global de 2025";
    --post_1_subtitle: "A trilogia de encerramento do anime continua em cartaz nos cinemas do Brasil";

    --post_2_title: "Conheça ‘The Fragrant Flower Blooms With Dignity‘’, o anime que superou ‘Solo Leveling’";
    --post_2_subtitle: "Considerado o anime mais bem avaliado entre os fãs; conheça a trama de ‘The Fragrant Flower Blooms With Dignity’!";

    --post_3_title: "Panini publicará o 1º artbook do anime de “Demon Slayer”";
    --post_3_subtitle: "A editora Panini divulgou hoje, por meio de suas redes sociais, que publicará no Brasil o primeiro artbook do anime de Demon Slayer, chamado originalmente de Kimetsu no Yaiba Illustration Kirokushu Ichi.aaa";

    --post_4_title: "Não é mais Solo Leveling: qual é o anime mais bem avaliado de 2025?";
    --post_4_subtitle: "Superando o aclamado 'Solo Leveling'; descubra qual é o novo anime detentor do título de melhor avaliado em 2025!";

    --post_5_title: "Última temporada de ‘My Hero Academia’ é destaque do Antimatéria: Energia Geek";
    --post_5_subtitle: "Durante o programa, os apresentadores discutem se Kohei Horikoshi fará alguma alteração no final do anime ou se seguirá fielmente o desfecho do mangá";

    --post_6_title: "Nem Dragon Ball, nem One Piece: Este é o anime mais pesquisado no Google há mais de 25 anos";
    --post_6_subtitle: "Naruto está disponível no catálogo de 4 serviços de streaming: Netflix, Mercado Play, Prime Video e Crunchyroll.";

    --post_7_title: "Trailer de Jujutsu Kaisen: Execução já disponível; confira";
    --post_7_subtitle: "Novo filme de Jujutsu Kaisen revisita o Arco de Shibuya com cenas inéditas e conecta os eventos da segunda à terceira temporada do anime.";

}